<main>
    <div class="menu banner">
        <h1>See What's new today</h1>
        <p>We delivering the fastest way! It does not matter where you are. </p>
    </div>
    
    <h2>Our Menus</h2>
    <button class="btn btn-secondary addMenu" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button>
    <input type="text" [(ngModel)]="searchMenu" placeholder="Search by name" (ngModelChange)="handleSearch()" />
    <div class="mt-mnu">
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th >Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let food of foods">
                    <td>{{food.name}}</td>
                    <td>{{food.type}}</td>
                    <td>{{food.quantity}}</td>
                    <td>{{food.discount}}</td>
                    <td>{{food.total}}</td>
                    <td >
                        <button type="button" class="btn btn-secondary update" data-bs-toggle="modal"  data-bs-target="#updateModal" (click)="onEdit(food)">Update</button>
                        <button type="button" class="btn btn-secondary delete" (click)="onDelete(food._id)">Delete</button>
    
                    </td>
                     
                </tr>                         
               
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span>page <em>{{this.pageIndex}}</em> of <em>{{this.totalPage}}</em></span>
        &nbsp;<span (click)="prevPage()" [ngClass]="{disabled: this.pageIndex ===1}">< Prev </span> &nbsp;&nbsp;
        <span (click)="nextPage()" [ngClass]="{disabled: this.pageIndex >= this.totalPage}"> Next ></span>
    </div>


  <h3>Order Now <a href="tel:+1 1234 56789" >+1 1234 56789</a></h3>
    
</main>

<!-- Modal for new menu Form-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Store</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="createFood(newFood)" action="http://localhost:3000/api/food" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="newFood.name" class="form-control" id="name" name="name" required="required">
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <input [(ngModel)]="newFood.type" class="form-control" id="type" name="type" required="required">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input [(ngModel)]="newFood.quantity" class="form-control" id="quantity" name="quantity" required="required">
                </div>
                <div class="form-group">
                    <label for="discount">Discount</label>
                    <input [(ngModel)]="newFood.discount" class="form-control" id="discount" name="discount" required="required">
                </div>
                <div class="form-group">
                    <label for="total">Total</label>
                    <input [(ngModel)]="newFood.total" class="form-control" id="total" name="total" required="required">
                </div>
                <div class="submit">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>    

    </div>
    </div>
</div>


<!-- Modal to update menu Form-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update the item</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateFood(newFood)" method="PUT">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="newFood.name" class="form-control" id="name" name="name" required="required">
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <input [(ngModel)]="newFood.type" class="form-control" id="type" name="type" required="required">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input [(ngModel)]="newFood.quantity" class="form-control" id="quantity" name="quantity" required="required">
                </div>
                <div class="form-group">
                    <label for="discount">Discount</label>
                    <input [(ngModel)]="newFood.discount" class="form-control" id="discount" name="discount" required="required">
                </div>
                <div class="form-group">
                    <label for="total">Total</label>
                    <input [(ngModel)]="newFood.total" class="form-control" id="total" name="total" required="required">
                </div>
                <div class="submit">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>   
    </div>
    </div>
</div>



